@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
	font-size: 1.3rem;
	width: 90vw;
	margin: 0;
	font-family: 'Roboto Slab', serif;
	background-color: #174ea6;
	color: white;
}

header {
	display: block;
	text-align: center;
	font-size: 2rem;
	margin-top: 5rem;
	text-decoration: underline;
}

p {
	margin: 0;
}

a {
	color: white;
}

img {
	max-width: 100%;
}

button:not(form button) {
	position: absolute;
	bottom: 15rem;
	left: 14.5rem;
	background-color: white;
	border-radius: 1rem;
	border: none;
	box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
	color: #3c4043;
	cursor: pointer;
	padding: 0.6rem;
	font-family: 'Roboto Slab', serif;
}

button:hover:not(form button) {
	background: #F6F9FE;
	color: #174ea6;
}

form {
	display: flex;
	justify-content: center;
	flex-flow: column;
	align-items: center;
	margin-top: 5rem;
}

label, input {
	margin-bottom: 1rem;
}

.chosen-anime, #all-anime {
	margin-top: 5rem;
	display: flex;
	align-items: center;
}

.chosen-anime {
	justify-content: center;
}

.chosen-anime img {
	margin-left: 6rem;
	margin-right: 6rem;
	border: 0.3rem solid black;
}

#info {
	max-width: 60rem;
}

#all-anime {
	flex-wrap: wrap;
	justify-content: space-around;
}

#all-anime figure {
	max-width: 10rem;
	max-height: 40rem;
}

#all-anime img {
	cursor: pointer;
	border: 0.3rem solid black;	
}

#all-anime img:hover {
	opacity: 0.8;
}


.hidden {
	display: none;
}


